@import "bourbon";
@import "vars";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/
  .header{
    .owl-carousel{
      .item{
        h1{
          font-size: em(60px)!important;
        }
        h3{
          font-size: em(20px)!important;
        }
      }
    }
    .top-menu {
      display: none;
      > ul {
        flex-flow: column;
      }
    }
    .phone-wrap {
      margin-right: em(40px);
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/
  .header{
    .owl-carousel{
      .item{
        h1{
          font-size: em(40px)!important;
        }
        h3{
          font-size: em(18px)!important;
        }
      }
    }
  }
  .animated {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/

}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/

}

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/

}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/

}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/

}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/
  .top-menu {
    display: block !important;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/
}


